<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420521268181-i81lt1gbljmdkev7c54cud8hbdo7sf9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420521268181-i81lt1gbljmdkev7c54cud8hbdo7sf9r</string>
	<key>API_KEY</key>
	<string>AIzaSyA3d86-HkhAaBb56-Tina3SZdZSpWeTMoE</string>
	<key>GCM_SENDER_ID</key>
	<string>420521268181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arseniy.AVBY</string>
	<key>PROJECT_ID</key>
	<string>avby-5a891</string>
	<key>STORAGE_BUCKET</key>
	<string>avby-5a891.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420521268181:ios:f5c342637b0977bc6f235c</string>
</dict>
</plist>